<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewData["Title"]-杨中科的文章、视频</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="~/assets/css/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/css/vendor/fontawesome-all.min.css">
    <link rel="stylesheet" href="~/assets/css/vendor/owl.carousel.min.css">
    <link rel="stylesheet" href="~/assets/css/vendor/venobox.css">
    <link rel="stylesheet" href="~/assets/css/vendor/animate.css">
    <link rel="stylesheet" href="~/assets/css/style.css">
</head>
<body>
    <!-- preloader -->
    <div class="preloader">
        <div class='loader'>
            <div class='loader--dot'></div>
            <div class='loader--dot'></div>
            <div class='loader--dot'></div>
            <div class='loader--dot'></div>
            <div class='loader--dot'></div>
            <div class='loader--dot'></div>
            <div class='loader--text'></div>
        </div>
    </div>
    <!-- preloader -->

    <!--main-container-->
    <div class="main-container">
        <!-- /.header start -->
        <header class="header">
            <div class="container container-wide">
                <div class="row">
                    <div class="d-flex align-items-center col-lg-12">
                        <div class="header-logo mr-auto">
                            <a href="~/"><img src="~/assets/images/logo/logo2.png" alt="emplate logo"></a>
                        </div>
                        <ul class="header-social">
                            <partial name="SocialMedia"></partial>          
                            <li><a href="#" class="off-canvas-open"><i class="fas fa-bars"></i></a></li>
                        </ul>
                    </div>
                </div>
                <!-- row end -->
            </div>
        </header>
        <!--header end-->
        
        <!-- header 0ff canvas start -->
        <div class="off-canvas-overlay"></div>
        <div class="off-canvas">
            <div class="off-canvas-inner">
                <button class="off-canvas-close">
                    <i class="fas fa-times-circle"></i>
                </button>
                <div class="row">
                    <div class="col-12 mb-30">
                        <a class="off-canvas-brand" href="index.html">
                            <img src="~/assets/images/logo/logo2.png" alt="">
                        </a>
                    </div>
                    <div class="col-12 mb-30">
                        <p><partial name="SelfIntro"></partial></p>
                    </div>
                    <div class="col-12 mb-30">
                        <div class="blog-aside-box">
                            <div class="aside-title mb-30">
                                <h4>联系我</h4>
                                <hr>
                            </div>
                            <div class="ctc-box">
                                <div class="mb-20">
                                    <p class="mb-10">邮箱:yangzhongke8@gmail.com</p>
                                </div>
                                <div>
                                    <p class="mb-10">微信公众号:搜索“杨中科”</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--
                    <div class="col-12">
                        <div class="blog-aside-box">
                            <div class="aside-title mb-30">
                                <h4>instragram</h4>
                                <hr>
                            </div>
                            <div class="aside-instragram">
                                <ul>
                                    <li><a href="#"><img src="~/assets/images/instragram/1.jpg" alt="Instragram img"></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    -->
                </div>
            </div>
        </div>
        <!-- header 0ff canvas end -->
        
        <!--page banner start-->
        <div class="page-banner-section">
            <div class="container">
                <div class="row">
                    <div class="col">                        
                        <div class="page-banner">
                            <ul class="breadcrumb">
                                @RenderSection("breadcrumb",false)
                            </ul>
                        </div>                        
                    </div>
                </div>
            </div>
        </div>
        <!--page banner end-->

        <!-- blog section start -->
        <div class="blog-section section-padding">
            <div class="container">
                <div class="row">
	                <div class="col-sm-12 col-lg-8">
	                @RenderBody()
	                </div> <!-- cole end -->
	                <div class="col-sm-12 col-lg-4">
		                <aside class="aside-widget">
			                <div class="blog-aside-box">
				                <div class="aside-title">
					                <h4>about me</h4>
					                <hr>
				                </div>
				                <div class="aside-me">
					                <p><partial name="SelfIntro"></partial></p>
				                </div>
			                </div>
                            <!--
			                <div class="blog-aside-box">
				                <div class="aside-title">
					                <h4>search</h4>
					                <hr>
				                </div>
				                <form action="#" class="aside-search">
					                <input type="text" placeholder="search here">
					                <button type="submit">
						                <i class="fa fa-search"></i>
					                </button>
				                </form>
			                </div>
			                <div class="blog-aside-box">
				                <div class="aside-title">
					                <h4>Categories</h4>
					                <hr>
				                </div>
				                <div class="aside-links">
					                <ul>
						                <li><a href="#">business</a></li>
						                <li><a href="#">consulting </a></li>
						                <li><a href="#">finance</a></li>
						                <li><a href="#">funding trends</a></li>
						                <li><a href="#">corporate </a></li>
						                <li><a href="#">our gallery</a></li>
					                </ul>
				                </div>
			                </div>
			                <div class="blog-aside-box">
				                <div class="aside-title">
					                <h4>instragram</h4>
					                <hr>
				                </div>
				                <div class="aside-instragram">
					                <ul>
						                <li><a href="#"><img src="~/assets/images/instragram/1.jpg" alt="Instragram img"></a></li>
						                <li><a href="#"><img src="~/assets/images/instragram/2.jpg" alt="Instragram img"></a></li>
						                <li><a href="#"><img src="~/assets/images/instragram/3.jpg" alt="Instragram img"></a></li>
						                <li><a href="#"><img src="~/assets/images/instragram/4.jpg" alt="Instragram img"></a></li>
						                <li><a href="#"><img src="~/assets/images/instragram/5.jpg" alt="Instragram img"></a></li>
						                <li><a href="#"><img src="~/assets/images/instragram/6.jpg" alt="Instragram img"></a></li>
					                </ul>
				                </div>
			                </div>
			                <div class="blog-aside-box">
				                <div class="aside-title">
					                <h4>tags</h4>
					                <hr>
				                </div>
				                <div class="aside-tags">
					                <a href="#">design</a>
					                <a href="#">corporate</a>
					                <a href="#">gallery</a>
					                <a href="#">image</a>
					                <a href="#">html</a>
					                <a href="#">business</a>
					                <a href="#">new</a>
				                </div>
			                </div>
                            -->
		                </aside>
	                </div> <!-- col end -->
                </div>
            </div>
        </div>
        <!-- blog section end -->

        <!-- footer section start -->
        <footer class="footer-section bg-dark-gray section-padding">
            <div class="container container-wide">
                <div class="row">
                    <div class="col-md-12">
                        <div class="footer-content">
                            <div class="email-box">
                                <h4 class="text-center">yangzhongke8@gmail.com</h4>
                                <h4 class="text-center">微信公众号:搜索“杨中科”</h4>
                                <h4 class="text-center"><a href="https://beian.miit.gov.cn/" target="_blank">京ICP备13044576号-4</a></h4>
                            </div>
                            <div class="footer-social text-center ">
                                <ul>
                                    <partial name="SocialMedia"></partial>           
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

        <!-- footer section end -->

    </div>

    <!-- back to to btn start -->
    <div id="back-to-top"></div>
    <!-- back to to btn end -->

    <script src="~/assets/js/vendor/jquery-3.3.1.min.js"></script>
    <script src="~/assets/js/vendor/bootstrap.min.js"></script>
    <script src="~/assets/js/vendor/navscroll.min.js"></script>
    <script src="~/assets/js/vendor/owl.carousel.min.js"></script>
    <script src="~/assets/js/vendor/venobox.min.js"></script>
    <script src="~/assets/js/vendor/resizeSensor.js"></script>
    <script src="~/assets/js/vendor/jquery.sticky-sidebar.js"></script>
    <script src="~/assets/js/vendor/contact.js"></script>
    <script src="~/assets/js/vendor/validator.min.js"></script>
    <script src="~/assets/js/vendor/wow.min.js"></script>
    <script src="~/assets/js/main.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
