<div>
    <img style="width:200px;height:auto;" src="/assets/images/mvp.png" />
</div>
<p><strong>杨中科</strong>，一名快乐的程序员！17年软件行业工作经验，微软最有价值专家（MVP），已经出版《J2EE开发全程实录》、《自己动手写开发工具》、《零基础趣学C语言》、《程序员的SQL金典》等图书，编写的《ASP.NET Core技术内幕与项目实战-基于DDD与前后端分离》即将于2022年5月份出版。</p>
<p><strong>微信公众号：</strong>杨中科</p>
<p><strong>我开发的英语学习网站：</strong><a href="https://www.youzack.com" target="_blank">youzack</a></p>
<p><strong>我的微信：</strong>yzk10241024 加好友请备注理由，否则不通过。</p>
<div style="text-align:center;">
    <img style="width:200px;height:auto;" src="/assets/images/yzkwechatqrcode.jpg" />
</div>