<li><a href="https://space.bilibili.com/27948784" target="_blank"><i class="fas fa-video"></i></a></li>
<li><a href="https://www.youzack.com/aboutme.html" target="_blank"><i class="fab fa-weixin"></i></li>
<li><a href="https://www.youtube.com/c/杨中科" target="_blank"><i class="fab fa-youtube"></i></a></li>      