@using Articles.Domain.DTOs
@model ArticleDTO
@{
    ViewData["Title"] = Model.Title;
}
@section breadcrumb
{
	<li><a href="~/">首页</a></li>
	<li>@Model.Title</li>
}
<div class="single-blog-details">
	<div class="single-blog-head">
		<span class="date">@Model.CreationDateTime</span>
		<h2 class="title">@Model.Title</h2>
	</div>
	<div class="single-blog-image">
		<img src="~/assets/images/blog/big-1.jpg" alt="blog img">
	</div>
	<div class="single-blog-content">
		@Model.Body
	</div>
	<div class="single-blog-footer">
		<div class="single-blog-tag">
			<h5>tags:</h5>
			<ul>
				<li><a href="#">blog</a></li>
				<li><a href="#">image</a></li>
				<li><a href="#">corporate</a></li>
			</ul>
		</div>
		<div class="single-blog-share">
			<h5>share:</h5>
			<ul>
				<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
				<li><a href="#"><i class="fab fa-twitter"></i></a></li>
				<li><a href="#"><i class="fab fa-instagram"></i></a></li>
				<li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
			</ul>
		</div>
	</div>
</div>
<div class="author-box">
	<div class="author-image">
		<img src="~/assets/images/blog/pro-1.png" alt="post img">
	</div>
	<div class="author-content">
		<h5>maria nelson</h5>
		<p>Investigationes demonstraverunt lectores legere me lius quod ii legunt sa Claritas est etiam processus dynamicus, mutationem consuetudium</p>
	</div>
</div>
<div class="contact-form">
	<div class="contact-title">
		<h3>Leave a comment</h3>
	</div>
	<div class="contact-form">
		<form id="contact-form" data-toggle="validator" action="#">
			<div class="row">
				<div class="col-md-6 col-12">
					<div class="form-group">
						<input id="inputName" type="text" placeholder="Name" class="form-control"
							required data-error="Enter your name">
						<span class="help-block with-errors"></span>
					</div>
				</div>
				<div class="col-md-6 col-12">
					<div class="form-group">
						<input id="inputEmail" type="text" placeholder="Email" class="form-control"
							required data-error="Enter your email">
						<span class="help-block with-errors"></span>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 col-12">
					<div class="form-group">
						<input id="inputSubject" type="text" placeholder="Subject" class="form-control"
							required data-error="Enter your subject">
						<span class="help-block with-errors"></span>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 col-12">
					<div class="form-group">
						<textarea class="form-control" name="Message" id="inputMessage" cols="10"
							rows="5" placeholder="Your comment text here" required data-error="Enter your message with details"></textarea>
						<span class="help-block with-errors"></span>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="text-left btn-group">
						<button type="submit" class="btn">submit comment</button>
					</div>
				</div>
				<!-- /.col -->
			</div>
			<!-- /.row -->
			<div class="row">
				<div class="col-md-12">
					<div id="msgalert" class="hidden"></div>
				</div>
				<!-- /.col -->
			</div>
			<!-- /.row -->
		</form>
	</div>
</div>